@use 'src/assets/styles/mixnins.scss';
@use 'src/assets/styles/breakpoint.scss';

.sobre-main{
    height: 93vh;
    @include mixnins.flex-center();
    background-color: #faf4dc;
    @include breakpoint.breakpoint(celular,max){
        @include mixnins.setHW(90vh)
    }

    .cards-conteiner{
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: fit-content;
        gap: 24px;

        @include breakpoint.breakpoint(celular, max){
            grid-template-columns: 1fr;
            gap: 12px;
            overflow-y: scroll;
            margin-bottom: 20px;
        }
    }
}