.sobre-main{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #faf4dc;
    
    .cards-conteiner{
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: fit-content;
        gap: 24px;
    }
}