
@import '../variaveis.scss';
@import '../mixnins.scss';

header{
    display: inline-flex;
    justify-content: space-between;
    background-color: $cor-primaria;
    align-items: center;
    width: 100vw;
    height: 40px;

    .header_empresa_info{
        align-items: center;
        display: inline-flex;
        text-align: left;
        gap: 12px;
        margin: 0 15px;
        @include ff-fs-fw(Arial, 16px, 600);
    }

    .header_extras{
        display: inline-flex;
        justify-content: space-evenly;
        gap: 24px;
        align-items: center;
        margin-right: 60px;
    ul{
        display: inline-flex;
        text-align: center;
        justify-content: space-around;
    
        li{
            list-style: none;
            align-items: center;
            width: 80px;
            text-align: center;
            a{
                color: black;
                height: 30px;
                text-decoration: none;
                @include ff-fs-fw(Arial, 14px, 600);
                @include bg-bd-mg-pd-bdR($cor-secundaria,none,auto,4px,8px);
                &:hover{
                    background-color: bisque;
                    color: grey;
                }

                &:active{
                    background-color: azure;
                }

               
            }
            &:last-child > a{
                background-color:transparent;
            }
        }

        
    }

    #slideTema{
        display: none;
    }

    #temaLabel{
        width: 50px;
        height: 20px;
        border-radius: 16px;
        background-color:azure;
        cursor: pointer;
        position: relative;
        


        &::before{
            position: absolute;
            content: '';
            width: 16px;
            height: 16px;
            transition: 0.5s;
            @include bg-bd-mg-pd-bdR(black,transparent,2px,0px,100%)
        }
    }

    #slideTema:checked + #temaLabel{
        background-color: $cor-terciaria;
    }

    #slideTema:checked + #temaLabel::before{
        transform: translateX(30px);
    }
    }
    
}