@import '../variaveis.scss';
@import '../mixnins.scss';


.formAreaBlock{
    @include bg-bd-mg-pd-bdR($cor-secundaria,transparent,0, auto, 10px);
    height: 600px;
    width: 400px;
    @include flex-column-center(24px);
    align-items: center;

    .formIcons{
        @include flex-center(12px);
       
        .googleIcon, .facebookIcon, .linkedinIcon{
            @include bg-bd-mg-pd-bdR(rgb(247, 242, 242),transparent, auto,4px, 100%);
            @include flex-center;
            align-items: center;
            height: 40px;
            width: 40px;
            box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.603);
            font-size: 24px;
            cursor: pointer;

            &:hover{
                background-color: lighten(white, 50);
            }
        }
    }

    .formItem{
        @include flex-center
        
    }

    Input{
        width: 200px;
    }

    
}

