
@use 'src/assets/styles/variaveis.scss';
@use 'src/assets/styles/mixnins.scss';

.taskItems{
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(6,400px);
    gap: 10px;
    border: 1px solid black;
    width: 100%;
    align-content: start;
    height: 50%;
    overflow-y: scroll;
    .card-conteiner{
        cursor: pointer;
        @include mixnins.setHW($w: 400px);
        transition: 0.2s ease-in-out;

        &:hover{
            transform:scale(1.007)
        }
        .card-header{
            @include mixnins.setHW(50px);
            @include mixnins.bg-bd-mg-pd-bdR($bd: transparent,$bdR:10px 10px 0 0, $pd: 10px 20px);
            display: flex;
            align-items: center;
            @include mixnins.flex-center($gap: 10px, $just: none);
            background-color: aqua;
        }
        .card-descricao{
            display: flex;
            flex-direction: column;
            gap: 12px;
            @include mixnins.bg-bd-mg-pd-bdR($bg:#EEEEEE,$bd: transparent, $pd:20px, $bdR: 0 0 10px 10px);
            @include mixnins.ff-fs-fw($fs:14px, $fw: 500);

            .card-status{
                @include mixnins.flex-center($gap: 10px,$just: none);

                .bola{
                    width: 5px;
                    height: 5px;
                    border-radius: 50%;
                    background-color: aquamarine;
                }
            }
        }

    

    }
}