@import '../variaveis.scss';
@import '../mixnins.scss';




.formGeral{
    @include flex-center(12px);
    align-items: center;
    height: 90vh;

    #formLabel{
        left: 28%;
        height: 600px;
        width: 435px;
        background-color: $cor-terciaria;
        z-index: 1;
        position: absolute;
        transition: 1s ease-in-out;
    }

    #slideForm{
        display: none;
    }
    #slideForm:checked + #formLabel{
        transform: translateX(416px);
    }

}


