@use 'src/assets/styles/variaveis.scss';
@use 'src/assets/styles/mixnins.scss';
@use 'src/assets/styles/breakpoint.scss';

.atividades-page {
    @include mixnins.setHW(93vh, 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    @include breakpoint.breakpoint(celular,max){
        @include mixnins.setHW(90vh, 100%);

    }
    @include breakpoint.breakpoint(computador, max) {
        gap: 10px;
        @include mixnins.setHW(93vh, 100%);
    }

    .taskItems {
        display: grid;
        grid-template-columns: repeat(4, 20%);
        gap: 10px;
        justify-content: center;
        @include mixnins.setHW(80%, 80%);
        @include mixnins.bg-bd-mg-pd-bdR(transparent, none);
        margin-top: 30px;
        overflow-y: scroll;
        
        @include breakpoint.breakpoint(wide, max){
            @include mixnins.setHW(80%, 100%);
        }

        @include breakpoint.breakpoint(computador, max) {
            gap: 20px;
            row-gap: 30px;
            @include mixnins.setHW(80%, 100%);
        }
       
        @include breakpoint.breakpoint(tablet, max) {
            grid-template-columns: repeat(2, 25%);
            @include mixnins.setHW(80%, 80%);
            gap: 100px;
        }

        @include breakpoint.breakpoint(celular, max) {
            grid-template-columns: repeat(1, 80%);
            @include mixnins.setHW(70%, 100%);
            padding-left: 25px;
            align-items: center;
            gap: 50px;
        }

      

       

       
        
    }

    .page-functions {
        .procurar {
            font-size: 16px;
            padding: 8px;
            transition: 0.2s ease-in-out;

            &:hover {
                transform: scale(1.55);
                cursor: pointer;
                color: gray;
            }
        }
    }
}