
@use 'src/assets/styles/variaveis.scss';
@use 'src/assets/styles/mixnins.scss';
@use 'src/assets/styles/breakpoint.scss';


header{
 
    background-color: variaveis.$cor-primaria;
    color: variaveis.$cor-texto;
    font-family: fantasy; 
    @include mixnins.flex-center($just : space-between);
    @include mixnins.setHW(60px, 100%);

        @include breakpoint.breakpoint(celular,max){
            padding-left:20px ;
            gap: 12px;
    }

    .header_empresa_info{
        align-items: center;
        text-align: left;
        gap: 12px;
        margin: 0 15px;
        @include mixnins.ff-fs-fw(fantasy, 24px, 600);
        @include breakpoint.breakpoint(celular, max){
            @include mixnins.ff-fs-fw($fs: 12px);
            gap: 0px;
            margin: 0;
    }
        .link{
            text-decoration: none;
            display: inline-flex;
            color: variaveis.$cor-texto;
        }
    }

    .header_extras{
        @include mixnins.flex-center(24px, space-evenly);
        margin-right: 60px;
        @include breakpoint.breakpoint(celular, max){
            gap: 0px;
            
    }
    ul{
        @include mixnins.flex-center($just: space-around);
        
        li{
            list-style: none;
            align-items: center;
            @include mixnins.setHW($w: 120px);
            text-align: center;

            @include breakpoint.breakpoint(celular, max){
                @include mixnins.setHW($w: 60px)
        }

            a{
                color: variaveis.$cor-texto;
                height: 30px;
                text-decoration: none;
                @include mixnins.ff-fs-fw(Arial, 20px, 600);
                @include breakpoint.breakpoint(celular, max){
                    @include mixnins.ff-fs-fw(Arial, 12px, 600);
                }
                }

            #signIn{
                @include mixnins.bg-bd-mg-pd-bdR(none,1px solid variaveis.$cor-secundaria,auto,4px 6px,8px);
                &:hover{
                    background-color: lighten(variaveis.$cor-primaria, 20);
                }
            }
            #signUp{
                @include mixnins.bg-bd-mg-pd-bdR(variaveis.$cor-secundaria,none,auto,4px 6px,8px);
                &:hover{
                    background-color: darken(variaveis.$cor-secundaria, 40);
                }
            }
            #sobre{
                &:hover{
                    $cor: darken(variaveis.$cor-terciaria, 10);
                    color: desaturate($cor, $amount: 80);
    
                }
            }
            #atividades{
                @extend #sobre;
            }
        }
        
    }

    #slideTema{
        display: none;
    }

    #temaLabel{
        width: 50px;
        height: 20px;
        border-radius: 16px;
        background-color:azure;
        cursor: pointer;
        position: relative;
        


        &::before{
            position: absolute;
            content: '';
            width: 16px;
            height: 16px;
            transition: 0.5s;
            @include mixnins.bg-bd-mg-pd-bdR(black,transparent,2px,0px,100%)
        }
    }

    #slideTema:checked + #temaLabel{
        background-color: variaveis.$cor-terciaria;
    }

    #slideTema:checked + #temaLabel::before{
        transform: translateX(30px);
    }
    }
    
}