@use 'src/assets/styles/variaveis.scss';
@use 'src/assets/styles/mixnins.scss';
@use 'src/assets/styles/breakpoint.scss';
footer{
    display: inline-flex;
    background-color: variaveis.$cor-primaria;
    @include mixnins.setHW(40px, 100%);
    position: absolute;
    bottom: 0;
    align-items: center;
    color: white;
    font-family: variaveis.$font-secundaria;
    overflow: hidden;
    z-index: 2;
    @include breakpoint.breakpoint(computador,max){
        top: 100%;
    }
    @include breakpoint.breakpoint(celular,max){
       top: 95%;
    }
   
    p {
        @include mixnins.ff-fs-fw(Arial, 16px, 500);
       &:first-child{
        margin: auto 10px
       }
     
    }
    #ponto{
        font-size: 24px;
        margin: 0 10px;
    }
}