@use 'src/assets/styles/mixnins.scss';
@use 'src/assets/styles/breakpoint.scss';
.delete-button{
    @include mixnins.bg-bd-mg-pd-bdR(transparent, none,0,auto);
    @include mixnins.ff-fs-fw($fs: 18px);
    color: gray;
    display: inline;
    transition: 0.2s ease-in;
    &:hover{
        cursor: pointer;
        color: #e01b24;

    }
}