button{
    background-color: transparent;
    border: none;

    .icone{
        position: relative;
        left: 100%;

        &:hover{
            cursor: pointer;
            color: green;
        }
    }
}