@mixin ff-fs-fw($ff: Arial, $fs: 12px, $fw:600){
    font-family: $ff;
    font-size: $fs;
    font-weight: $fw;
}

@mixin bg-bd-mg-pd-bdR($bg: transparent, $bd:solid 1px black, $mg:0,$pd:0,$bdR:0px){
    background-color: $bg;
    border: $bd;
    margin: $mg;
    padding: $pd;
    border-radius: $bdR;
}


@mixin flex-center($gap:0px){
    display: flex;
    justify-content: center;
    gap: $gap;
}


@mixin flex-column-center($gap: 0px){
    @include flex-center;
    flex-direction: column;
    gap: $gap;

}
