@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


$font-main:"Anton", sans-serif;
$font-secundaria: "Nunito", sans-serif;
$cor-primaria:#5C2FC2;
$cor-secundaria: rgba(120, 206, 206, 0.651);
$cor-terciaria: aquamarine;
$cor-texto: #EBF4F6;
